<p>
    Volgens onze Ulput-site ben jij/zijn jullie nu in Eilinzon en ga je daar overmorgen weg.

    <br>
    Kun jij morgen voor 10 uur op de site
    de boodschappenlijst aanvullen? Dan weet de volgende bewoner wat hij of zij mee moet nemen. Je vindt de
    boodschappenlijst op de homepage.
    </br>

</p>
<p>
    Als er nog dingen toegevoegd moeten worden aan de takenlijst is het ook fijn als
    je die aanvult.
</p>
<p>
    Zie <a href=www.uleput.nl>www.uleput.nl</a> voor de boodschappenlijst, takenlijst en meer informatie.
</p>


<p>

    Alvast dank. Hoop dat je een fijne tijd in Eilinzon hebt gehad!
</p>