container

.table-wrapper {
    overflow: auto;
    max-height: 25em;
  }

  .small_column {
    min-width: 22em;
    max-width: 22em;

    overflow: hidden;
    word-wrap: break-word;
    white-space:pre-wrap;
}

@media (max-width: 1200px) {
    div.spacer {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width: 800px) {
    div.container-fluid {
        margin-left: auto !important;
        margin-right: auto !important;

        width: 95% !important;
    }

    body {
        font-size: 0.9rem !important
    }

    button.btn {
        font-size: 0.8rem !important
    }

    div h3 {
        font-size: 1.3rem !important
    }

    div h2 {
        font-size: 1rem !important
    }

    input.form-control, textarea.form-control {
    font-size: 0.8rem !important
    }

}

.container-fluid
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    width:80% !important;
    min-height:100rem;
}


body {
    font-family: 'Merriweather Sans', sans-serif;
}

#log_tr {
    /* border-style: solid; */
    position: relative;
}

#log_tr::after {
    content: '';
    background-color: #28a745;
    position: absolute;
    right: 100%;
    top: 10%;
    bottom: 10%;
    width: 2px;
}


.navbar-nav
{
    font: 30px;
}

.navbar-brand
{
    font-size: 40px;
}

/* colors for navbar */
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}


.alert-info
{
    font: 24px georgia, sans-serif;

   background-color: lightblue;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    background-color: #eff0f2;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}


main .text-normal
{
    font: 24px georgia, sans-serif;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-bottom: 45px;
    padding-top: 45px;

}

main .text-quote
{
    font-size: 140px;
    color: #ea433b;

    padding-top: 100px;
}

main .text-quote-klein
{
    font-size: 100px;

}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* font-size: 18px; */

    /* left-align tables' cells */
    text-align: left;

    /* space between cells */
    padding-top: 10px;
    padding-bottom: 10px;


}

main th
{


    text-align: left;

    /* space between cells */
    padding-top: 10px;
    padding-bottom: 10px;

}

table
{
    margin-left: auto;
    margin-right: auto;
}

.my-custom-scrollbar {
    position: relative;
    height: 70vh;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    .my-custom-scrollbar-log {
        position: relative;
        height: 100vh;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }