{% extends "layout.html" %}

{% block head %}
<link href={{ url_for('static', filename='fullcalendar/core/main.css') }} rel='stylesheet' />
<link href={{ url_for('static', filename='fullcalendar/list/main.css') }} rel='stylesheet' />

<link href={{ url_for('static', filename='fullcalendar/daygrid/main.css') }} rel='stylesheet' />
<link href={{ url_for('static', filename='fullcalendar/bootstrap/main.css') }} rel='stylesheet' />
<link href={{ url_for('static', filename='fullcalendar/google-calendar/main.css') }} rel='stylesheet' />



<script src={{ url_for('static', filename='fullcalendar/core/main.js') }}></script>
<script src={{ url_for('static', filename='fullcalendar/daygrid/main.js') }}></script>
<script src={{ url_for('static', filename='fullcalendar/bootstrap/main.js') }}></script>
<script src={{ url_for('static', filename='fullcalendar/google-calendar/main.js') }}></script>
<script src={{ url_for('static', filename='fullcalendar/list/main.js') }}></script>
<script src={{ url_for('static', filename='fullcalendar/core/locales/nl.js') }}></script>


{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'bootstrap', 'googleCalendar', "interaction"],
            themeSystem: 'bootstrap',
            googleCalendarApiKey: 'AIzaSyB7mWrsaWadYYix5J2lGpg3ppqsVw7hPAY',
            locale: "nl",
            events: {
                googleCalendarId: 'eilinzon@gmail.com'
            }
        });

        calendar.render();
    });

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            locale: {
                separator: ' tot ',
                format: 'DD-MM-YYYY',
                daysOfWeek: ["zo", "ma", "di", "Wo", "do", "vr", "za"],
                monthNames: ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
                firstDay: 1,
            },
            opens: 'left',
            autoApply: true,
        });

    });

    $(function () {
        $('input[name="daterange_log"]').daterangepicker({
            locale: {
                separator: ' tot ',
                format: 'DD-MM-YYYY',
                daysOfWeek: ["zo", "ma", "di", "Wo", "do", "vr", "za"],
                monthNames: ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
                firstDay: 1,
            },
            opens: 'left',
            autoApply: true,
        });

    });

    $(function () {
        $(':button#add').on('click', function () {
            if ($('input[name="new_item_quantity"]').val() == "" || $('input[name="new_item_item"]').val() == "")
                return false

            $.getJSON($SCRIPT_ROOT + '/add', {
                quantity: $('input[name="new_item_quantity"]').val(),
                item: $('input[name="new_item_item"]').val(),
                user: "Familie",

            }, function (data) {
                item = Object.keys(data)[0]
                item_object = $('#' + item)

                if (item_object.get("length") > 0) {
                    item_object.empty()
                }
                $('#sl_table > tbody:last-child').prepend(
                    '<tr id=' + item + '>\
                        <td>' + data[item]["quantity"] + '</td>\
                        <td>' + item + '</td>\
                        <td>' + data[item]["datetime"] + '</td>\
                        <td><button id=close class=close>x</button></td>\
                        </tr>'
                )
                $('input[name="new_item_quantity"]')["value"] == ""
                $('input[name="new_item_item"]')["value"] == ""

            });
            return false;
        });
    });

    $(function () {
        $(':button#add_log').on('click', function () {
            if ($('input[name="new_log_description"]').val() == "" || $('input[name="new_log_author"]').val() == "")
                return false

            $.getJSON($SCRIPT_ROOT + '/add_log', {
                description: $('textarea[name="new_log_description"]').val(),
                author: $('input[name="new_log_author"]').val(),
                datetime: $('input[name="daterange_log"]').val()

            }, function (data) {
                item = Object.keys(data)[0]
                item_object = $('#' + item)

                if (item_object.get("length") > 0) {
                    item_object.empty()
                }
                $('#log_table > tbody:last-child').prepend(
                    '<tr id=' + item + '>\
                        <td>' + data[item]["datetime"] + '</td>\
                        <td>' + data[item]["author"] + '</td>\
                        <td>' + data[item]["description"] + '</td>\
                        </tr>'
                )
                $('input[name="new_item_quantity"]')["value"] == ""
                $('input[name="new_item_item"]')["value"] == ""

            });
            return false;
        });
    });

    $(function () {
        $(document).on('click', ':button.close', function () {
            row = $(this).parent().parent()
            item_name = row.attr('id')
            row.remove()

            $.getJSON($SCRIPT_ROOT + '/remove', {
                item: item_name
            }, function (data) { });
        });
    });

</script>

<div class="row my-5">
    <!-- Agenda -->
    <div class="col col-md-6 bg-light rounded border p-3 m-5 mt-5" style="opacity:0.95">
        <h3 class="display-5">Agenda</h3>
        <div id='calendar'></div>

        <div>
            <button type="button" class="m-2 fc-today-button btn btn-primary" data-toggle="modal" data-target="#myModal">Voeg
                verblijf toe</button>

        </div>

    </div>
    <!--Boodschappenlijst-->
    <div class="col bg-light rounded border p-3 m-5 mt-5" style="opacity:0.95  ">
        <h3 class="display-5">Boodschappenlijst</h3>
        <table class="table" id=sl_table>
            <tr id="new_item">
                <td>
                    <input class="form-control w-100" type="text" name="new_item_quantity" placeholder="Hoeveelheid"
                        required="required">
                </td>
                <td>
                    <input class="form-control w-100" type="text" name="new_item_item" placeholder="Naam van item"
                        required="required">
                </td>
                <td><button type="button" id="add" class="btn btn-primary">Toevoegen</button></td>
                <td>

                </td>
            </tr>
            <tr>
                <th>Hoeveelheid</th>
                <th>Item</th>
                <th>Datum</th>
                <th></th>
            </tr>

            <tbody>
                {% for key, sl_item in sl_items.items() %}

                <tr id={{ key }}>
                    <td>{{ sl_item.quantity }}</td>
                    <td>{{ key }}</td>
                    <td>{{ sl_item.datetime }}</td>
                    <td><button onclick="close()" id=close class=close>x</button></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>
<!-- Logboek -->
<div class="row my-3">
    <div class="col bg-light rounded border p-3 mx-5 mb-4" style="opacity:0.95  ">
        <h3 class="display-5">Logboek</h3>


        <table class="table" id=log_table>
            <tr>
                    <td>
                        <input class="form-control w-75" type="text" name="daterange_log" value="">
                        <i class="fa fa-calendar"></i>&nbsp;
                    </td>
                <td>
                    <input class="form-control w-100" type="text" name="new_log_author" placeholder="Naam" required="required">
                </td>
                <td>
                    <textarea class="form-control w-100" type="text" name="new_log_description" placeholder="Beschrijving"
                        required="required"></textarea>
                </td>
                <div>
                    <td><button type="button" id="add_log" class="btn btn-primary">Toevoegen</button></td>
                </div>
            </tr>
            <tr>
                <th>Verblijfsdata</th>
                <th>Naam</th>
                <th>Beschrijving</th>
                <th></th>
            </tr>

            <tbody>
                {% for key, log_item in log_items.items() %}
                <tr id="log_tr" class=" border-3" id={{ key }}>
                    <td>{{ log_item.datetime }}</td>
                    <td>{{ log_item.author }}</td>
                    <td>{{ log_item.description }}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Maak nieuwe afspraak</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="staying date"><b>Verblijfsdata</b></label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="daterange" value="">
                        <i class="fa fa-calendar"></i>&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="staying_date"><b>Beschrijving</b></label>
                    </div>
                    <div class="form-group">
                        <textarea required name="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Maak afspraak</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Sluit</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        </form>
    </div>
</div>



{% endblock %}