{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}
<script>


    function render_calendar() {
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid', 'bootstrap', 'googleCalendar', "interaction"],
                themeSystem: 'bootstrap',
                googleCalendarApiKey: 'AIzaSyB7mWrsaWadYYix5J2lGpg3ppqsVw7hPAY',
                locale: "nl",
                height: "auto",
                eventSources: [{
                    googleCalendarId: 'eilinzon@gmail.com',
                },
                {
                    googleCalendarId: 'nl.dutch#holiday@group.v.calendar.google.com',
                    color: '#478006'

                }],
            });

            calendar.render();
        })
    }

    function add_datarange_pickers() {
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                locale: {
                    separator: ' tot ',
                    format: 'DD-MM-YYYY',
                    daysOfWeek: ["zo", "ma", "di", "Wo", "do", "vr", "za"],
                    monthNames: ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
                    firstDay: 1,
                },
                opens: 'left',
                autoApply: true,
            });
            $('input[name="daterange_log"]').daterangepicker({
                locale: {
                    separator: ' tot ',
                    format: 'DD-MM-YYYY',
                    daysOfWeek: ["zo", "ma", "di", "Wo", "do", "vr", "za"],
                    monthNames: ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
                    firstDay: 1,
                },
                opens: 'left',
                autoApply: true,
            });
        });
    }

    function add_new_item(mode = "tasks") {
        if ($('input[name="new_' + mode + '"]').val() == "")
            return false

        $.getJSON($SCRIPT_ROOT + '/add', {
            quantity: $('input[name="new_item_quantity"]').val(),
            item: $('input[name="new_' + mode + '"]').val(),
            user: "Familie",
            mode: mode

        }, function (data) {
            item = Object.keys(data)[0]
            item_object = $('#' + item)

            if (item_object.get("length") > 0) {
                item_object.empty()
            }

            if (mode === "tasks") {
                tasks_items.unshift(data[item])
            }
            else {
                groc_items.unshift(data[item])
            }

            $('input[name="new_' + mode + '"]').val("")
            renderItems(mode)
        });
        return false;
    }

    function add_log() {
        if ($('input[name="new_log_description"]').val() == "" || $('input[name="new_log_author"]').val() == "")
            return false

        $.getJSON($SCRIPT_ROOT + '/add_log', {
            description: $('textarea[name="new_log_description"]').val(),
            author: $('input[name="new_log_author"]').val(),
            datetime: $('input[name="daterange_log"]').val()

        }, function (data) {
            console.log("test")
            item = Object.keys(data)[0]
            item_object = $('#' + item)

            if (item_object.get("length") > 0) {
                item_object.empty()
            }

            $('#log_table > tbody:last-child').prepend(
                '<tr id=' + item + '>\
                        <td>' + data[item]["datetime"] + '</td>\
                        <td>' + data[item]["author"] + '</td>\
                        <td>' + data[item]["description"] + '</td>\
                        </tr>'
            )

            $('textarea[name="new_log_description"]').val("")
            $('input[name="new_log_author"]').val("")
            $('input[name="daterange_log"]').val("")
        });
        return false;
    };
    

    function remove_item(item = "", mode = "tasks") {
        $(function () {
            $(document).on('click', ':button.close', function () {
                $.getJSON($SCRIPT_ROOT + '/remove', {
                    item: item,
                    mode: mode
                }, function (data) { });
            });

            if (mode === "tasks") {
                tasks_items.splice(tasks_items.map(e => e.item).indexOf(item), 1)
            } else {
                groc_items.splice(groc_items.map(e => e.item).indexOf(item), 1)
            }

            renderItems(mode)
        });
    }


    function onChange(mode = "tasks") {
        renderItems(mode)
    }

    function renderItems(mode = "tasks") {
        var filter = document.getElementById("search_field_" + mode).value;
        var table = '#sl_table_' + mode

        if (mode === "tasks") {
            sl_items = tasks_items
        } else {
            sl_items = groc_items
        }

        $(table + ' > tbody').empty()
        for (var i in sl_items) {
            if (sl_items[i].item.toLowerCase().match(filter.toLowerCase())) {
                if (mode === "tasks") {

                    $(table + ' > tbody').append($(
                        '<tr id=' + sl_items[i].item + '> \
                        <td>' + sl_items[i].item + '</td> \
                        <td>' + sl_items[i].datetime + '</td> \
                        <td><button id=close_' + i + ' class=close>x</button></td> \
                    </tr>'))
                }
                else {
                    $(table + ' > tbody').append(
                        '<tr id=' + sl_items[i].item + '> \
                        <td>' + sl_items[i].item + '</td> \
                        <td><button id=close_' + i + ' class=close>x</button></td> \
                    </tr>')
                }

                var button = $(table).find('#close_' + i)
                button.attr("item", sl_items[i].item)
                button.attr("mode", mode)

                $(button).click(function () {
                    remove_item($(this).attr("item"), $(this).attr("mode"))
                })
            }
        }
    }

    $.getJSON($SCRIPT_ROOT + '/get_items', {
        mode: "grocery"
    }, function (data) {
        groc_items = data.items
    })

    $.getJSON($SCRIPT_ROOT + '/get_items', {
        mode: "tasks"
    }, function (data) {
        tasks_items = data.items
    })


    render_calendar()
    add_datarange_pickers()

</script>

<script></script>

<div class="row mt-5 mb-3">
    <!-- Agenda -->
    <div class="col-12 col-xl-6 bg-light rounded border p-3 m-5 mt-5" id="agenda" style="opacity:0.95">
        <div class="row">
            <div class="ml-3">
                <i class="fas fa-calendar-alt fa-2x text-primary"></i>
            </div>

            <div class="col-6">
                <h3 class="display-5">Agenda</h3>
            </div>
        </div>
        <div id='calendar'></div>

        <div>
            <button type="button" class="m-2 fc-today-button btn btn-primary" data-toggle="modal"
                data-target="#myModal">Voeg
                verblijf toe</button>
        </div>

    </div>
    <!--Boodschappenlijst-->
    <div class="col-12 col-xl bg-light rounded border p-3 m-5 mt-5" id="grocery" style="opacity:0.95  ">
        <div class="row">
            <div class="ml-3">
                <i class="fa fa-shopping-bag fa-2x text-primary"></i>
            </div>

            <div class="col-6">
                <h3 class="display-5">Boodschappenlijst</h3>
            </div>
            <div class="col-4">
                <input class="form-control w-100" id="search_field_grocery" oninput="onChange('grocery')"
                    placeholder="Zoek">
            </div>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover" id="sl_table_grocery">

                <thead>
                    <th class="w-50">Item</th>
                    <th class="w-25"></th>
                </thead>

                <tbody>
                    {% for key, sl_item in groc_items.items() %}

                    <tr id={{ key }}>
                        <td>{{ key }}</td>
                        <td><button onclick="remove_item('{{key}}','grocery')" id=close class=close>x</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-wrapper">
            <table class="table my-0" id="table_add">
                <tr id="new_item">
                    <td>
                        <input class="form-control w-100" type="text" name="new_grocery" placeholder="Naam van item"
                            required="required">
                    </td>
                    <td><button type="button" onclick="add_new_item('grocery')" id="add"
                            class="btn btn-primary">Toevoegen</button></td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--Takenlijst-->
<div class="row my-3">

    <div class="col-12 col-xl bg-light rounded border p-3 mx-5 mt-3 mb-5" id="tasks" style="opacity:0.95  ">
        <div class="row">
            <div class="ml-3">
                <i class="fas fa-tasks fa-2x text-primary"></i>
            </div>
            <div class="col-6">
                <h3 class="display-5">Takenlijst</h3>
            </div>
            <div class="col-4">
                <input id="search_field_tasks" oninput="onChange('tasks')" placeholder="Zoek">
            </div>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-hover" id="sl_table_tasks">

                <thead>
                    <th class="w-75">Taak</th>
                    <th class="">Datum</th>
                    <th class=""></th>
                </thead>

                <tbody>
                    {% for key, sl_item in tasks_items.items() %}

                    <tr id={{ key }}>
                        <td>{{ key }}</td>
                        <td>{{ sl_item.datetime }}</td>
                        <td><button onclick="remove_item('{{key}}', 'tasks')" id=close class=close>x</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-wrapper">
            <table class="table my-0" id="table_add">
                <tr id="new_item">
                    <td>
                        <input class="form-control w-100" type="text" name="new_tasks" placeholder="Taak"
                            required="required">
                    </td>
                    <td><button type="button" onclick="add_new_item('tasks')" id="add"
                            class="btn btn-primary">Toevoegen</button></td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Logboek -->
<div class="row my-3">
    <div class="col-12 col-xl bg-light rounded border p-3 mx-5 mb-4 spacer" style="opacity:0.95  ">
        <div class="row">


            <div class="ml-3">
                <i class="fas fa-book fa-2x text-primary"></i>
            </div>
            <div class="col-6   ">
                <h3 class="display-5">Logboek</h3>
            </div>
        </div>

        <div class="table-wrapper my-custom-scrollbar-log">

            <table class="table" id=log_table>
                <tr>
                    <td>
                        <input class="form-control w-75" type="text" name="daterange_log" value="">
                        <i class="fa fa-calendar"></i>&nbsp;
                    </td>
                    <td>
                        <input class="form-control w-100" type="text" name="new_log_author" placeholder="Naam"
                            required="required">
                    </td>
                    <td>
                        <textarea class="form-control w-100" type="text" name="new_log_description"
                            placeholder="Beschrijving" required="required"></textarea>
                    </td>
                    <div>
                        <td><button type="button" onclick="add_log()" id="add_log"
                                class="btn btn-primary">Toevoegen</button></td>
                    </div>
                </tr>
                <tr>
                    <th>Verblijfsdata</th>
                    <th>Naam</th>
                    <th>Beschrijving</th>
                    <th></th>
                </tr>

                <tbody>
                    {% for key, log_item in log_items.items() %}
                    <tr id="log_tr" class=" border-3">
                        <td>{{ log_item.datetime }}</td>
                        <td>{{ log_item.author }}</td>
                        <td class="small_column">{{ log_item.description }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Maak nieuwe afspraak</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="staying date"><b>Verblijfsdata</b></label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="daterange" value="">
                        <i class="fa fa-calendar"></i>&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="staying_date"><b>Beschrijving</b></label>
                    </div>
                    <div class="form-group">
                        <textarea required name="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Maak afspraak</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Sluit</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        </form>
    </div>
</div>



{% endblock %}