{% extends "layout.html" %}

{% block title %}
    logboek
{% endblock %}

{% block main %}
<div class="row my-5">
    <div class="col-10 bg-light rounded border p-3 m-5 mt-5 spacer">


        <p  >Hier staan documenten met informatie over Eilinzon</p>
        <p><a class="text-primary" href="{{ url_for('static', filename='pdf/algemen_info.pdf') }}">Algemene informatie</a></p>
        <p><a class="text-primary" href="{{ url_for('static', filename='pdf/bij_vertrek.pdf') }}">Bij vertrek</a></p>

        <p><a class="text-primary" href="{{ url_for('static', filename='pdf/Satellietfoto_Route.pdf') }}">Route</a></p>
    </div>
</div>
{% endblock %}

