{% extends "layout.html" %}



{% block title %}
    Start
{% endblock %}

{% block main %}
<script type=module>
    import "bootstrap"
    import { Calendar } from '@fullcalendar/core';
    import dayGridPlugin from '@fullcalendar/daygrid';


    render_calendar() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new Calendar(calendarEl, {
            plugins: [ dayGridPlugin ]
        });

        calendar.render();
    }


    render_calendar()
</script>
    <div class="row">
        <div class="col md-4">Test</div>
        <div class="col md-8 border">
            <table class="table">
                <thead>
                    <th>Datum</th>
                    <th>Beschrijving</th>

                </thead>
                {% for event in events %}
                <tr>
                    <td>{{event.date}}</td>
                    <td>{{event.summary}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>

            <div id="calendar"></div>

    </div>
    <fieldset>
        <div class="text-normal">

        </div>
    </fieldset>
{% endblock %}
